@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body { 
    font-size: 10px;
    font-family: 'Open Sans', Times New Roman, sans-serif;
    background-color: #1a445e;
    color: #ffffff;
}

a { 
    text-decoration: none;
    color: #9CFF99;
}

    a:visited { 
        color: #d3ff71;
    }

    a:hover, a:focus { 
        color: #35c800;
    }
    
/***************************************
Fix number input CSS — get rid of spinner in Chrome and Firefox
***************************************/
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

input:focus::placeholder { 
    color: transparent;
}

/***************************************
Header CSS
***************************************/
header { 
    margin-bottom: 20px;
    background-color: #265a7b;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:  center;
    flex-flow: row wrap;
    padding: 20px;
    font-family: 'Lato';
}

    header a:link, header a:visited { 
        color: #FFF; 
    }

        header a:hover, header a:focus { 
            color: #8cffaf;
        }

    header h1 { 
        text-align: center;
        font-size: 4em;
        color: white;
        display: block;
        margin-bottom: 10px;
    }

    header hr { 
        height: 0; 
        width: 100%;
        margin: 0;
        border: 0;
    }

        header div#header-info-container { 
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column wrap;
        }

            header div#header-info-container div#header-intro-container { 
                width: 90%;
                font-size: 2em;
                margin-right: 0;
                text-align: center;
            }

                header div#header-info-container div#header-intro-container h2 { 
                    font-weight: bold;
                    font-size: 1.5em;
                    color: #F55B5B;
                }

                header #header-info-container div#header-intro-container p { 
                    line-height: 1.4;
                }
        
    header div#go-to-calc-button { 
        max-width: 400px;
        border-radius: 10px;
        border: #F48D8D 3px inset;
        padding: 20px 15px;
        text-align: center;
        font-weight: bold;
        background: #1a445e;
        font-size: 3.5em;
    }

        header a:hover > div#go-to-calc-button, header a:focus > div#go-to-calc-button { 
            border: #8cffaf 3px inset;
        }

/***************************************
Website Body CSS
***************************************/
div.website-container { 
    margin: 0 auto;
    width: 100%;
    text-align: center;
    line-height: 1.2;
}

    div.website-container h1 { 
        font-size: 4em;
        color: #8fdaff;
    }

    div.website-container h2 { 
        font-size: 1.9em;
        margin-bottom: 10px;
    }

    div.website-container h3 { 
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    div.website-container h1, div.website-container h2, div.website-container h3 { 
        font-weight: bold;
    }

    /***************************************
    Healthcare Form CSS
    ***************************************/
    form.healthcare-form { 
        text-align: left;
    }

    form.healthcare-form .healthcare-input-container { 
        font-size: 3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

        form.healthcare-form .healthcare-input-container input { 
            font-size: inherit;
            border: 2px black solid;
            text-align: center;
            border-radius: 10px;
            overflow-wrap: break-word;
            background-color: #7cccff;
            width: 80%;
        }
            
            form.healthcare-form .healthcare-input-container input:focus { 
                border: 2px #3396e3 solid;
            }

        form.healthcare-form .healthcare-input-container label { 
            text-align: center;
            display: inline-block;
            margin-bottom: 10px;
            flex-shrink: 0;
            font-size: .8em;
        }

        /***************************************
        Filing Status Radio Button CSS
        ***************************************/

        form.healthcare-form .healthcare-input-container input[type=radio] { 
            width: 30px; 
            opacity: 0;
            position: absolute;
        }
        
        form.healthcare-form .healthcare-input-container .healthcare-radio-button-container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-flow: row wrap;
        }

            form.healthcare-form .healthcare-input-container .healthcare-radio-button-container label {
                margin-bottom: initial;
                width: 200px;
                height: 200px;
                text-align: center;
                background: url("../images/filing-status-radio-button-images.png") center; 
                background-position-y: 0px;
                border-radius: 5px;
                margin-right: 20px;
                margin-bottom: 10px;
            }
                form.healthcare-form .healthcare-input-container .healthcare-radio-button-container label#single-label { 
                    background-position-x: 0px;
                }

                form.healthcare-form .healthcare-input-container .healthcare-radio-button-container label#married-label { 
                    background-position-x: 400px;
                }

                form.healthcare-form .healthcare-input-container .healthcare-radio-button-container label#head-of-household-label { 
                    background-position-x: 200px;
                }

            form.healthcare-form .healthcare-input-container .healthcare-radio-button-container label:hover, 
                form.healthcare-form .healthcare-input-container .healthcare-radio-button-container input[type=radio]:focus + label{ 
                background-position-y: 400px;
                box-shadow: 0 0 2px 3px #3396e3;
            }

                form.healthcare-form .healthcare-input-container .healthcare-radio-button-container input[type=radio]:checked + label { 
                    background-position-y: 200px;
                }


    
    /***************************************
    Cost Results Display CSS 
    ***************************************/    
    section.m4a-calc-result-container { 
        font-size: 1.5em;
    }

        section.m4a-calc-result-container .m4a-result-container { 
            padding: 25px 0;
        }
        
            section.m4a-calc-result-container .m4a-result-container p.m4a-result-title { 
                font-size: 1.5em;
                margin-bottom: -10px;
            } 

            section.m4a-calc-result-container .m4a-result-container p.m4a-result-money { 
                font-size: 4em;
                font-weight: bold;
                color: #a2f09c;
                line-height: 1;
            } 

                section.m4a-calc-result-container .m4a-result-container p.m4a-result-money.cost { 
                    color: #f96b6b;
                }

    /***************************************
    Explanation/FAQ CSS 
    ***************************************/
    section.m4a-faqs-container { 
        font-size: 1.5em;
        width: 80%;
        margin: 0 auto;
        overflow: clear;
    }

        section.m4a-faqs-container ul { 
            list-style: inside square;
            display: block;
            text-align: left;
            line-height: 1.5;
            width: initial;
        }

        section.m4a-faqs-container p { 
            line-height: 1.3;
            text-align: left;
            margin-top: 10px;
        }

        section.m4a-faqs-container .m4a-faq-container { 
            margin: 30px 0px;
        }

/***************************************
Footer CSS 
***************************************/
footer { 
    background-color: #265a7b;
    padding: 10px;
    text-align: center;
}
    footer .footer-container { 
        width: 80%;
        margin: 0 auto;
    }

    footer p { 
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 10px;
    }



/* Smaller phones */
@media only screen and (min-width: 320px) {
    body { 
        font-size: 12px;
    }

    header h1 { 
        font-size: 5em;
    }
 
    form.healthcare-form .healthcare-input-container input { 
        max-width: 500px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body { 
        font-size: 16px;
    }



    /***************************************
    Website Body CSS
    ***************************************/
    div.website-container { 
        width: 80%;
    }

        /***************************************
        Explanation/FAQ CSS 
        ***************************************/
        section.m4a-faqs-container ul { 
            display: inline-block;
            width: 400px;
            margin: 0 30px;
        }
        
        section.m4a-faqs-container p { 
            text-indent: 20px;
        }
} 

@media only screen and (min-width: 1100px) { 
    header div#header-info-container { 
        flex-flow: row wrap;
    }

        header div#header-info-container div#header-intro-container { 
            width: 50%;
            margin-right: 50px;
            text-align: left;
        }
}